.payment-line {
    margin: 30px 0px;
}
.payment {
    margin: 10px;
    padding: 20px;
}
.payment .cards {
    padding: 3%;
    background-color: white;
    border: 1px solid white;
    box-shadow: 0px 0px 19px #eceaf1f1;
    margin: 4%;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.payment .cards2 {
    padding: 3.6%;
    background-color: white;
    border: 1px solid white;
    box-shadow: 0px 0px 19px #eceaf1f1;
    margin: 4%;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.custom-data-table .rdt_TableRow {
    margin-bottom: 10px; /* Adjust the spacing as needed */
}
.payment .p_table{
    margin: 1.6%;
}